* {
  margin 0;
  padding 0;
  font-family: Courier New;
}

.main {
  display: flex;
  height: 1440px;
  width: 100vw;
}

.side-bar {
  flex: 10;
  border-right: 1px;
}

.rest-of-page {
  flex: 90;
  background-color: #FFFFFF;
}
